aws_region = "eu-central-1"
app_slug   = "todo-list"
environment_name = "dev"
target_account_id = "222222222222"

github_org                            = "<GITHUB_ORG>"
github_repo                           = "<GITHUB_REPO>"
